params {

    // set default parameter values
    outdir = 'results/'
    outPrefix = 'tetris'

}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


// Pointers to profile configs
//    you can select the relevant profile from the command line with -profile <profile-name>
//    e.g. nextflow run main.nf -profile awsbatch


profiles { 
  local { 
    includeConfig './conf/local.config' 
    }
  awsbatch_spot { 
    includeConfig './conf/awsbatch_spot.config' 
    }
  awsbatch { 
    includeConfig './conf/awsbatch.config' 
    }
}
