// AWS config file

process.executor = 'awsbatch'

params.aws_queue = params.aws_queue ?: "${AWS_DEFAULT_QUEUE}"
params.non_spot_queue = params.non_spot_queue ?: "${AWS_NON_SPOT_QUEUE}"
params.aws_region = params.aws_region ?: "${AWS_REGION}"

process.queue = params.aws_queue
aws.region = params.aws_region 
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

//restrict the number of parallel downloads in an attempt to prevent the docker timeout error
aws.batch.maxParallelTransfers = 5

//spot instance retries
aws.batch.maxSpotAttempts = 3

// default paramters
params {
  variants_only = false
  // other default parameters...
}

// per process configurations

process {

    withName: 'FASTP' {
        container = 'public.ecr.aws/biocontainers/fastp:0.23.4--h5f740d0_0'
        cpus = 3
        memory = 4.GB
        // addition args for fastq splitting if enabled
        ext.args = { params.split_fastq > 0         ? "--split_by_lines ${params.split_fastq * 4}" : "" }
    }

    withName: 'FASTQC' {
        container = 'public.ecr.aws/biocontainers/fastqc:0.11.9--0'
        cpus = 4
        memory = 8.GB
    }

    withName: 'BWA_INDEX' {
        container = 'public.ecr.aws/biocontainers/bwa:0.7.3a--hed695b0_5'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_FAIDX' {
        container = 'public.ecr.aws/biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_INDEX' {
        container = 'public.ecr.aws/biocontainers/samtools:v1.7.0_cv4'
        cpus = 2
        memory = 4.GB
    }

    withName: 'SAMTOOLS_STATS' {
        container = 'public.ecr.aws/biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_MERGE' {
        container = 'public.ecr.aws/biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'BWA_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
        cpus = 4
        memory = 10.GB
        ext.args = { "-R ${meta.read_group}" }
    }

    withName: 'MOSDEPTH' {
        container = 'public.ecr.aws/biocontainers/mosdepth:0.3.1--ha7ba039_0'
        cpus = 1
        memory = 4.GB
    }

    withName: 'MULTIQC' {
        container = 'public.ecr.aws/biocontainers/multiqc:1.13--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

     withName: 'BCFTOOLS_MPILEUP' {
        container = 'public.ecr.aws/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 2
        memory = 8.GB
    }

    withName: 'BCFTOOLS_CALL|BCFTOOLS_CALL_SNPS' {
        container = 'public.ecr.aws/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 8.GB
        (params.variants_only ? ext.args = { "--variants-only" } : "" )
    }

    withName: 'BCFTOOLS_GRP_CALL' {
        queue = params.non_spot_queue ?: "${AWS_NON_SPOT_QUEUE}"
        container = 'public.ecr.aws/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 12.GB
        ext.args = { params.variants_only ? "--variants-only" : "" }
    }

    withName: 'BCFTOOLS_CONCAT' {
        queue = params.non_spot_queue ?: "${AWS_NON_SPOT_QUEUE}"
        container = 'public.ecr.aws/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 12.GB
    }

    withName: 'GATK4_MARKDUPLICATES' {
        container = 'quay.io/biocontainers/mulled-v2-a4c30dc1a2dfc3f31070c6a8acc1c627f7a22916:da999000e91310fca6d5021998dab12999a6ad0c-0'
        cpus = 2
        memory = 16.GB
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        container = 'public.ecr.aws/biocontainers/multiqc:1.15--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

    withName: 'AWK_SPLITBED' {
        container = 'public.ecr.aws/ubuntu/ubuntu:24.04_stable'
        cpus = 1
        memory = 2.GB
    }


}