/*
* This configuration file is for local runs
*/

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
}

executor {
    name = 'local'
    cpus   = 8
    memory = '40GB'
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


params.variants_only = false

process {

    withName: 'FASTP' {
        container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
        cpus = 3
        memory = 4.GB
        // addition args for fastq splitting if enabled
        ext.args = { params.split_fastq > 0         ? "--split_by_lines ${params.split_fastq * 4}" : "" }
    }

    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
        cpus = 4
        memory = 8.GB
    }

    withName: 'BWA_INDEX' {
        container = 'quay.io/biocontainers/bwa:0.7.3a--hed695b0_5'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_FAIDX' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_INDEX' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 2
        memory = 4.GB
    }

    withName: 'SAMTOOLS_STATS' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_MERGE' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'BWA_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
        cpus = 4
        memory = 10.GB
        ext.args = { "-R ${meta.read_group}" }
    }

    withName: 'MOSDEPTH' {
        container = 'quay.io/biocontainers/mosdepth:0.3.1--ha7ba039_0'
        cpus = 1
        memory = 8.GB
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

     withName: 'BCFTOOLS_MPILEUP' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 12.GB
    }

    withName: 'BCFTOOLS_CALL|BCFTOOLS_CALL_SNPS' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 12.GB
        (params.variants_only ? ext.args = { "--variants-only" } : "" )
    }

    withName: 'BCFTOOLS_GRP_CALL' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 12.GB
        (params.variants_only ? ext.args = { "--variants-only" } : "" )
    }

    withName: 'BCFTOOLS_CONCAT' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = 12.GB
    }

    withName: 'GATK4_MARKDUPLICATES' {
        container = 'quay.io/biocontainers/mulled-v2-a4c30dc1a2dfc3f31070c6a8acc1c627f7a22916:da999000e91310fca6d5021998dab12999a6ad0c-0'
        cpus = 2
        memory = 16.GB
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        container = 'quay.io/biocontainers/multiqc:1.15--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

    withName: 'AWK_SPLITBED' {
        container = 'public.ecr.aws/ubuntu/ubuntu:24.04_stable'
        cpus = 1
        memory = 2.GB
    }

}

